{% extends 'user/base.html' %}
{% block title %} Notification {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            {% for obj in object %}
            <li class="{% if obj.read %}list-group-item list-group-item-action{% else %}list-group-item list-group-item-action list-group-item-primary{% endif %}">
              <h5 class="text-center fw-bold">{{ obj.action }}</h5>
            </li>
            {% endfor %}
            <div class="pagination">
              <span class="step-links">
                  {% if object.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ object.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current-page">
                      {{ object.number }}
                  </span>

                  {% if object.has_next %}
                      <a href="?page={{ object.next_page_number }}">next</a>
                      <a href="?page={{ object.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
            </div>
            <a class="btn btn-lg btn-primary btn-block text-uppercase" href="{% url 'question:notification-done' %}">I've seen all.</a>




          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


