{% extends 'user/base.html' %}
{% block title %} Notification {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            {% for obj in object %}
              <p>{{ obj.action }}</p>
              <hr>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


