{% extends 'user/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">{{ object.user.username }}'s Profile</h1>
        <hr>
        <p>Description: {{ object.description }}</p>
        <hr>
        <h3>Answered questions:</h3>
        <ul>
          {% for question in questions %}
            <li class="list-group-item">{{ question.question }}</li>
          {% endfor %}
        </ul>
        <hr>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
          <h3>Ask a quick question:</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Send">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
