{% extends 'user/base.html' %}
{% block title %} {{ object.user }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">{{ object.user.username }}'s Profile</h1>
        <hr>
        <h3>Information</h3>
        <div class="row justify-content-center">
            <div class="col-4">
                <h5 class="text-center">Send question: </h5>
                <p class="text-center">{{ object.qty_asked }}</p>
                <h5 class="text-center">Answered question: </h5>
                <p class="text-center">{{ object.qty_answered }}</p>
            </div>
            <div class="col-4">
                <h5 class="text-center">Friends: </h5>
                <p class="text-center">{{ object.qty_friends }}</p>

                <h5 class="text-center">Created: </h5>
                <p class="text-center">{{ object.user.date_joined|date:"M d, Y"  }}</p>
            </div>
          </div>

          {% if odbject.description %}
            <p>Description: {{ object.description }}</p>
          {% endif %}
        <hr>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          <!-- ask question -->
          {% if object.user != request.user %}
            <div class="text-center">
                <h3>Ask a quick question:</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="{{ form.question.id_for_label }}" class="form-label">Question</label>
                        {{ form.question }}
                        <label for="{{ form.anonymous.id_for_label }}" class="form-label">Annonym</label>
                        {{ form.anonymous }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Send">
                </form>
            </div>

          {% endif %}

          <hr>
          <h1>Questions</h1>

        <ul>
          {% for question in questions %}
            <li class="list-group-item list-group-item-action">
              <h5 class="text-center fw-bold">{{ question.question }}</h5>
                <p class="text-center">By: {{ question.sender }} - {{ question.created|date:"M d, Y"}}</p>
                <hr>
              {% if question.answer_set %}
                <p class="text-center">Answer: {{ question.get_answer }}</p>
              {% endif %}
            </li>
            <p></p>
          {% endfor %}
        </ul>
        <hr>

      </div>
    </div>
  </div>
{% endblock %}
