{% extends 'user/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Welcome to your home page</h1>
        <hr>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h3>Random objects</h3>
        <ul>
          {% for object in rando %}
            <li class="list-group-item">
            <a href="{{ object.get_absolute_url }}">{{ object.user.username }}</a>
              <a href="{% url 'question:random' 'rando' %}" type="button" class="btn btn-outline-primary">Random ask</a>

              </li>
          {% endfor %}
        </ul>
        <hr>
        <h3>Random friends</h3>
        <ul>
          {% for friend in rando_friends %}
            <li>{{ friend.user.username }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}