{% extends 'user/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Welcome to your home page</h1>
        <hr>
        <h3>Random objects</h3>
        <ul>
          {% for object in rando %}
            <a href="{{ object.get_absolute_url }}">
              <li class="list-group-item">{{ object.user.username }}</li>
            </a>
            <a class="btn btn-sm btn-primary btn-block text-uppercase" href="{% url 'question:create' object.pk %}">Add Question</a>
          {% endfor %}
        </ul>
        <hr>
        <h3>Random friends</h3>
        <ul>
          {% for friend in rando_friends %}
            <li>{{ friend.user.username }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}