{% extends 'user/base.html' %}

{% block content %}
<br>
<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 2fr;">
      <div class="shadow-lg p-3 mb-5 bg-white rounded bg-white border rounded-3">
        <h1 class="h1"></h1>
            <form method="post">
              {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
          <br>

      </div>
    </div>
</div>
{% endblock %}

